# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"
ACCESS_TOKEN_SECRET="your_access_token_secret"
ACCESS_TOKEN_EXPIRES_IN="1h"
REFRESH_TOKEN_SECRET="your_refresh_token_secret"
REFRESH_TOKEN_EXPIRES_IN="7d"
SECRET_API_KEY="your_secret_api_key"
OTP_EXPIRES_IN="5m"

# admin
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="your_admin_password"
ADMIN_NAME="Admin Name"
ADMIN_PHONE_NUMBER="0000000000"

# email
RESEND_API_KEY="your_resend_api_key"
RESEND_FROM_EMAIL="your_resend_from_email"

# 2FA (TOTP issuer name shown in authenticator apps)
APP_NAME="your_app_name"
